.cart-list-container {
  background-color: #ffc2a859;
  border-radius: 0px 0px 15px 15px;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.cart-list-wrapper {
  margin: 120px 0 20px 0;
}
.cart-element {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-element-img {
  width: 5%;
  border-radius: 10px;
}
.cart-element-quantity {
  font-weight: bold;
  font-size: 30px;
  color: brown;
  margin-left: 15px;
  background-color: #f1daca;
  border-radius: 5px;
  vertical-align: super;
}
.cart-element-remove {
  font-weight: bold;
  color: brown;
  margin-right: 15px;
  font-size: 50px;
  cursor: pointer;
  vertical-align: super;
}
.cart-element-number {
  font-weight: bold;
  color: brown;
  font-size: 50px;
  cursor: pointer;
  vertical-align: super;
}
.cart-element-add {
  font-weight: bold;
  color: brown;
  margin-left: 15px;
  font-size: 50px;
  cursor: pointer;
  vertical-align: super;
}
