.auth {
  align-self: center;
  cursor: pointer;
  border: 3px solid var(--font-secondary-color);
  border-radius: 50px 50px 50px 50px;
  z-index: 10000;
  width: 45px;
  height: 45px;
  margin-left: 3px;
}
.authFalse {
  opacity: 0.5;
  border: 3px solid var(--font-secondary-color);
}
.photo {
  position: absolute;
  right: 0;
  border-radius: 50px 50px 50px 50px;
  width: 44px;
}
.username {
  position: absolute;
  white-space: nowrap;
  left: 50px;
  top: 10px;
  color: #4f2202;
}
