.auth {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.4s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 3px solid #e4bfa0;
  border-radius: 50px 50px 50px 50px;
  z-index: 10000;
}
.authFalse {
  border: 3px solid #dedede;
}
.icon {
  position: absolute;
  left: 5px;
  top: 8px;
  width: 50px;
  height: 50px;
}
.photo {
  position: absolute;
  right: 0;
  border-radius: 50px 50px 50px 50px;
  width: 44px;
}
.username {
  position: absolute;
  white-space: nowrap;
  left: 50px;
  top: 10px;
  color: #4f2202;
}
