.ProductCard-wrapper {
  position: relative;
  text-decoration: none;
  width: 20%;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0;
}
.ProductCard-wrapper img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.ProductCard-title {
  display: none;
  position: absolute;
  width: 100%;
  background: linear-gradient(270deg, #f9f3ee -5.08%, #f2ebe4 89.21%);
  padding: 5px 0 0 5px;
  border-radius: 5px;
  z-index: 1;
}
.ProductCard-price {
  position: absolute;
  display: flex;
  padding: 5px 5px 0px 5px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #ffda90 10%, #e9bc64 100%);
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.41);
  top: 0px;
  left: 0px;
}
.ProductCard-price p {
  color: #5b2600;
  background-color: #e9bc64;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 5px 0 5px 2px;
}
.ProductCard-price p:last-child {
  padding: 5px 1px 0 2px;
  font-weight: normal;
}
.ProductCard-price:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid #eee0;
  border-left: 25px solid #e9bc64;
}
.ProductCard-price:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid #eee0;
  border-right: 25px solid #e9bc64;
}

.loading {
  background: linear-gradient(
    90deg,
    #efe3dbc4 30%,
    #f5e9e3a3 50%,
    #efe3dbc4 70%
  );
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: 400%;
  animation: loading 0.5s ease-in-out infinite;
  transition: 0.3s ease;
}
@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
