.ProductList-container {
  position: relative;
}
.ProductList-wrapper {
  display: flex;
  background: linear-gradient(
    270.2deg,
    #f3ebe5 0.19%,
    #f8f2ed 53.05%,
    #f3ebe5 99.95%
  );
  padding-bottom: 20px;
}
.ProductList-bundles {
  display: flex;
  justify-content: space-between;
  min-height: 50vh;
  flex-flow: column;
  border-radius: 0px 0px 25px 0px;
}
.ProductList-bundles-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.ProductList-topsvg {
  display: block;
  width: 50%;
}
.right {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 50%;
}
.ProductList-bundles-title {
  position: absolute;
  transform: translateY(-96%);
}
.ProductList-bundles-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0 25px 25px 0;
  transition: 1s ease;
}
.ProductList-bundles-pagination div {
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.8;
  margin: 5px;
  font-size: 13px;
  border-radius: 30%;
  background-color: #8a390d33;
  transition: 0.5s ease;
}
.active {
  font-size: 14px;
  font-weight: bold;
  transform: scale(1.5);
}
.lastpage {
  background-color: #8a390d85;
  color: #ffffff;
}
.bundles-checkbox {
  height: 24px;
  width: 24px;
  background-color: #f39c12;
  border: 1px solid #ffbc98;
  border-radius: 10px;
}
