.ProductCard-wrapper {
  position: relative;
  margin: 5px;
  transition: 1.4s;
}
.ProductCard-title {
  position: absolute;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}
.hover-buttons {
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
.hover-buttons :hover {
  transform: scale(1.03, 1.03);
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.hbutton {
  height: 45px;
  width: 140px;
  margin: 10px;
  background: url(../../img/cartadd.svg);
}
.ProductCard-thumbnail {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  object-fit: cover;
  border: 1px dashed #833904;
  box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05),
    10px 10px 25px rgba(112, 124, 151, 0.05);
}
