.product-page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  border-radius: 0px 0px 25px 0px;
  padding-bottom: 30px;
  animation: 1s ease 0s 1 normal none running slideInLeft;
  transition: 1s ease;
}
.product-page-nav {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0px 10px 0px;
  height: 50px;
  width: 100%;
  border-radius: 0 25px 25px 0;
  background: linear-gradient(
    89.97deg,
    #efe3dbc4 0.01%,
    rgba(244, 237, 232, 0.81) 99.99%
  );
}
.product-page-nav a {
  position: absolute;
  padding: 15px 0 15px 10px;
  background-color: #83350c1f;
  height: 100%;
  min-width: 80px;
  font-size: 14px;
  border-radius: 0 25px 25px 0;
}
.product-page-nav button {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  height: 50px;
  padding: 15px;
  border-radius: 25px 25px 0px 25px;
  color: #5b2600;
  background-color: #83350c1f;
  cursor: pointer;
  box-shadow: 0px 1px 8px -16px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease;
}
.back {
  left: 0;
}
.product-page-left {
  padding: 25px 25px 0px 0px;
  width: 50%;
}
.product-page-right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 25px 0 0 0;
  width: 50%;
}
.product-page-right h1 {
  margin-bottom: 25px;
  font-size: 30px;
  color: #4f2202;
}
.product-page-right p {
  font-size: 16px;
  font-weight: normal;
  color: #431d02;
  transition: 0.1s ease;
}
.product-page-container label {
  position: absolute;
  bottom: -30px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #4f2202;
  text-shadow: 4px 2px 2px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
}
.product-page-back {
  position: absolute;
  left: 0;
  padding: 25px;
  cursor: pointer;
}
.product-page-inside {
  cursor: pointer;
  position: relative;
  margin: 0 10px 25px 0;
  align-self: flex-end;
}
.product-page-inside p:hover {
  transform: scale(1.05);
  text-shadow: 4px 2px 2px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
}
.product-page-desc {
  margin-bottom: 25px;
}
.product-page-inside-expand {
  display: flex;
  widows: 100%;
  justify-content: flex-end;
}
.product-page-inside-expand p {
  align-self: center;
  margin-right: 5px;
}
.product-page-inside-expand span {
  align-self: center;
}
@media only screen and (max-width: 1350px) {
  .product-page-container {
    flex-direction: column;
  }
}
