.Pages-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  transition: 1s ease;
}
.Pages-container > div {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  opacity: 0.8;
  margin: 1rem 0.3rem;
  font-size: 1rem;
  background-color: var(--accent-secondary-color);
  color: var(--font-secondary-color);
  transition: 0.5s ease;
}
.Pages-container .active {
  font-size: 1rem;
  font-weight: bold;
  transform: scale(1.5);
  background-color: var(--accent-primary-color);
}
.lastpage {
  background-color: var(--background-secondary-color);
}
