.Product-sort {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
}
.sort-by {
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  letter-spacing: -0.04em;
}
.sort-by > img {
  margin-left: 1px;
}
.reversed {
  transform: rotate(180deg);
}
.small {
  transform: scale(0.5);
}
.hidden {
  display: none;
}
.inactive {
  filter: opacity(70%);
}
.selected {
  font-weight: bold;
  background-color: #a7817524;
}
.sort-tags {
  position: absolute;
  width: 100%;
  top: 80%;
  z-index: 1;
  background-color: #eaded8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 14px 8px 35px #5656562b, 0px 17px 25px #5a5a5a4a;
  padding: 5px;
}
.sort-tags p {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: -0.04em;
}
