.Product-sort {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.sort-by {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--font-primary-color);
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 400;
  margin: 0.3rem;
  padding: 0.5rem;
}
.sort-by > img {
  margin-left: 1px;
}
.reversed {
  transform: rotate(180deg);
}
.small {
  transform: scale(0.5);
}
.hidden {
  display: none;
}
.inactive {
  filter: opacity(70%);
}
.selected {
  position: relative;
  display: flex;
  background-color: var(--accent-primary-color);
  color: var(--font-secondary-color);
}
.unchecked {
  background: none;
  color: var(--font-primary-color);
}
.selected-info {
  position: absolute;
  right: -35px;
  display: flex;
  top: 0;
  padding: 5px;
  height: 100%;
  background-color: var(--accent-secondary-color);
}
.selected-info > div {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2rem;
  color: var(--accent-primary-color);
  background-color: transparent;
  transform: rotate(45deg);
}
.selected p,
.selected-info p {
  align-self: center;
}
.counter {
  color: var(--font-secondary-color);
  margin-right: 5px;
}
.sort-tags {
  position: absolute;
  width: 100%;
  top: 2.1rem;
  background-color: var(--background-secondary-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}
.sort-tags button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: -0.04em;
}
.Product-sort button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
