.ProductCard-wrapper {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 20%;
  font-size: 1rem;
}
.ProductCard-wrapper img {
  display: block;
  height: 100%;
  cursor: pointer;
}
.ProductCard-price {
  position: absolute;
  display: flex;
  padding: 3px 3px 0px 3px;
  background: linear-gradient(
    180deg,
    var(--accent-secondary-color) 20%,
    var(--accent-primary-color) 100%
  );
  top: 0px;
  left: 0px;
}
.ProductCard-price p {
  color: var(--font-secondary-color);
  background-color: var(--accent-primary-color);
  font-weight: bold;
  font-size: 0.7rem;
  padding: 5px 0 5px 2px;
}
.ProductCard-price p:first-child {
  border-radius: 3px 0 0 0;
}
.ProductCard-price p:last-child {
  border-radius: 0 3px 0 0;
  padding: 5px 1px 0 2px;
  font-weight: normal;
}
.ProductCard-price:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid #eee0;
  border-left: 25px solid var(--accent-primary-color);
}
.ProductCard-price:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid #eee0;
  border-right: 25px solid var(--accent-primary-color);
}
.ItemCard-wrapper {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  width: 25%;
  font-size: 1rem;
  padding: 2px;
  cursor: pointer;
}
.ItemCard-wrapper > p {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-primary-color);
  border: 1px var(--font-primary-color) dashed;
  min-height: 200px;
  height: 100%;
}
.ItemCard-wrapper img {
  height: 100%;
  width: calc(100% * 2);
  object-fit: cover;
}
.ItemCard-price {
  position: absolute;
  right: 10px;
  top: -20px;
  transform: rotate(-45deg);
  background: linear-gradient(
    45deg,
    var(--accent-secondary-color) 1%,
    var(--accent-primary-color) 99%
  );
  border: 1px solid var(--accent-primary-color);
  padding: 25px 2px;
}
.ItemCard-price p {
  transform: rotate(90deg);
  color: var(--font-secondary-color);
  font-size: 0.7rem;
}
