.StaticInfo-container {
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  animation: 1s ease 0s 1 normal none running fadeInDown;
}
.StaticInfo-card {
  border-radius: 15px 10px 15px 10px;
  box-sizing: border-box;
  box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05),
    10px 10px 25px rgba(112, 124, 151, 0.05);
  width: 30%;
  background: linear-gradient(
    270.2deg,
    #f3ebe5 0.19%,
    #f8f2ed 53.05%,
    #f3ebe5 99.95%
  );
  margin-bottom: 25px;
}
.StaticInfo-card p {
  padding: 15px;
}
