.StaticInfo-container {
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  animation: 1s ease 0s 1 normal none running fadeInDown;
}
.StaticInfo-card {
  display: flex;
  width: 40%;
  margin: 25px;
}
.StaticInfo-card > img {
  width: 40%;
  object-fit: scale-down;
}
.StaticInfo-card p {
  border-radius: 15px 10px 15px 10px;
  box-shadow: -13px 6px 35px #707c970d, -11px 11px 25px #707c970d;
  background: linear-gradient(
    90deg,
    #f3ebe5 23.44%,
    rgba(243, 235, 229, 0) 100%
  );
  width: 70%;
  padding: 15px;
  font-size: 0.9em;
  align-self: center;
}
