.StaticInfo-container {
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
  animation: 1s ease 0s 1 normal none running fadeInDown;
}
.StaticInfo-card {
  display: flex;
  width: 40%;
}
.StaticInfo-card > img {
  width: 40%;
  object-fit: scale-down;
}
.StaticInfo-card p {
  background: linear-gradient(
    90deg,
    #f3ebe5 23.44%,
    rgba(243, 235, 229, 0) 100%
  );
  width: 70%;
  padding: 1rem 0 1rem 1rem;
  font-size: 0.9em;
  align-self: center;
}
