.Promo-container {
  background-color: #ffc2a859;
  border-radius: 0px 0px 15px 15px;
  max-width: 85%;
  overflow: hidden;
  margin: 0 auto;
  animation: 1s ease 0s 1 normal none running bounceInDown;
}
.Promo {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.Promo-banner {
  /* animation: 1s ease 0s 1 normal none running bounceRight; */
}

.Promo-img {
  width: 100%;
}
.Promo-svg-label {
  width: 100%;
}
.Promo-prev {
  min-width: 24px;
  height: 42px;
  background: url(../../img/arrow.svg);
  transform: rotate(180deg);
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}
.Promo-next {
  min-width: 24px;
  height: 42px;
  background: url(../../img/arrow.svg);
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}
