.boxselector-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.box-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box-wrapper > button {
  align-self: flex-end;
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  border: none;
  width: 100px;
}
.box-reshuffle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.boxselector-slot {
  width: 20%;
  display: flex;
  white-space: pre;
  cursor: pointer;
  overflow: hidden;
}
.boxselector-slot-info {
  position: relative;
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  background-color: #fbf1ec75;
}
.box-shape {
  align-self: center;
  border: 2px solid #877f7d7d;
}
.square {
  width: 30px;
  height: 30px;
}
.rectangle {
  width: 30px;
  height: 20px;
}
.slot-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: flex;
  background-color: #f1e4db;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slot-wrapper span {
  font-size: 3rem;
  width: 100%;
  border-radius: 10px;
  line-height: 3rem;
  opacity: 0.8;
  transform: scale(0.9);
  transition: 0.2s ease;
}
.slot-wrapper:hover > span:hover {
  transform: scale(1.1);
}
.slot-wrapper h1,
.item-wrapper h1 {
  font-size: 2rem;
}
.slot-wrapper p {
  width: 100%;
  word-wrap: break-word;
}
.slot-wrapper-del {
  position: absolute;
  right: -10px;
  top: -10px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #a70f0f7d;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
  text-align: center;
  transform: rotate(45deg);
  transition: 0.5s ease;
}
.slot-wrapper-del:hover {
  background-color: #f9534f;
}
.expand-wrapper {
  display: flex;
  justify-content: center;
  transition: 0.4s ease;
}
.expand-slot-wrapper {
  position: relative;
  align-self: center;
  cursor: pointer;
  width: 25%;
  min-height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 30px;
  max-width: 100px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Itemlist-wrapper ul {
  margin: 10px;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  align-self: center;
  border: 1px solid #763e2e;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  cursor: pointer;
}
.slot-thumb {
  width: 100%;
  border-radius: 5px;
}
.Constructor-progress {
  position: relative;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.Constructor-progress > button {
  align-self: center;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.5rem;
  letter-spacing: -0.04em;
  border: none;
  color: #763e2e;
  background-color: #fbf1ec75;
}
.svgicon {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
}
.Constructor-stage {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.Constructor-stage img {
  cursor: pointer;
  align-self: center;
  max-width: 25px;
  margin: 5px;
}
.empty {
  opacity: 0.5;
  cursor: default;
  filter: grayscale(70%);
}
.Constructor-stage p {
  align-self: center;
  white-space: pre;
  font-size: 0.7rem;
  letter-spacing: -0.04em;
  font-weight: bold;
}
.Constructor-stage-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
}
.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-container form {
  align-self: center;
  width: 100%;
}
input[type="range"] {
  width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background-color: #fff;
  outline: none;
  transition: background 1s ease-in;
}
input[type="range"]::-webkit-slider-thumb {
  visibility: hidden;
}
.item-container-letter {
  border: none;
  height: 50px;
  width: 100%;
  padding: 5px;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #763e2e;
  text-align: center;
  transition: 0.2s ease;
  transform: scale(0.9);
}
.item-container-letter:focus {
  transform: scale(1);
  outline: none;
}
.item-container-details {
  padding: 0 1rem;
}
.item-container-description {
  padding-bottom: 10px;
  border-bottom: 2px solid #83390447;
}
.item-container-info {
  position: relative;
  display: flex;
}
.item-container-info-gallery {
  overflow: hidden;
}
.item-container-info-details {
  width: 80%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.item-container-info-details-size {
  padding: 5px;
  line-height: 1rem;
  font-size: 1rem;
  border-bottom: 1px dashed #83390447;
}
.item-container-info-details-specs {
  padding: 5px;
  line-height: 1rem;
  font-size: 1rem;
}
.item-container-info > img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 6px 12px 15px -16px rgba(0, 0, 0, 0.85);
}
.item-container-quantity {
  align-self: flex-end;
  margin-top: 25px;
  line-height: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
.item-container-quantity p:first-child {
  font-size: 1.5rem;
  text-align: end;
  border: 0;
  padding: 0;
}
.item-container-quantity p:nth-child(2) {
  text-align: end;
  border: 0;
  padding: 0;
}
.item-container-title {
  margin: 10px 0 10px 0;
}
.item-container-buttons {
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  white-space: nowrap;
}
.item-container-buttons button {
  align-self: center;
  outline: none;
  border: none;
  cursor: pointer;
  height: 100%;
  color: #6f3a30;
  font-size: 1rem;
  font-weight: bold;
  min-width: 25px;
}
.item-container-buttons button:disabled {
  color: #6f3a3038;
}
.item-container-buttons-quantity {
  position: absolute;
  /* box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.05); */
  border-radius: 20px;
  pointer-events: none;
  height: 50px;
  background-color: #f2ebe4;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ddb895' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.item-container-buttons-control {
  position: relative;
  display: flex;
  width: 100%;
}
.item-container-buttons-back {
  width: 5%;
  padding-left: 10px;
  margin-right: auto;
}
.item-container-buttons-add {
  margin: 0 auto;
  width: 25%;
}
.item-container-buttons p {
  position: absolute;
  pointer-events: none;
  left: 50%;
  background-color: #ffffff8c;
  color: #7b4b1e;
  cursor: pointer;
  padding: 0px 5px;
  align-self: center;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 50px;
  font-weight: 300;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  width: 15%;
}

.compose {
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 10px;
  color: #5b2600;
  background-color: #83350c1f;
  cursor: pointer;
  width: 40%;
  height: 3rem;
  margin: 1rem auto;
  box-shadow: 8px 8px 15px -16px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease;
}
.compose-nav {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin-bottom: 15px;
  justify-content: center;
}
.chosen {
  z-index: 1;
  box-shadow: 5px 12px 50px 7px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: 0.4s ease;
  cursor: grabbing;
}
.ghost {
  box-shadow: 5px 12px 50px 7px rgba(0, 0, 0, 0.41);
  transform: scale(1.1);
}
.drag {
  border: 2px solid red;
  opacity: 0 !important;
}
.compose-offline {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 3rem;
  align-self: center;
  border-radius: 2px 10px 10px 2px;
  border-top: 1px dashed #8339046b;
  border-right: 1px dashed #8339046b;
  border-bottom: 1px dashed #8339046b;
}
.compose-offline p {
  font-size: 1vw;
  font-weight: bold;
  margin: 0 10px 0 10px;
}
.receipt {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 100%;
  margin: 10px 0;
}
.receipt > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1rem;
}
.receipt > h2 {
  align-self: center;
}
