.box-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 0 5px;
}
.box-wrapper > button {
  position: relative;
  align-self: flex-end;
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  border: none;
  width: 100px;
}
.box-wrapper > button > svg {
  position: absolute;
  width: 35px;
  right: -35px;
}
.box-reshuffle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 15px 0;
}
.boxselector-slot {
  width: 20%;
  display: flex;
  white-space: pre;
  cursor: pointer;
  overflow: hidden;
}
.boxselector-slot-info {
  position: relative;
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  background-color: var(--constructor-secondary-color);
  color: var(--constructor-font-primary-color);
}
.slot-wrapper {
  position: relative;
  cursor: pointer;
  text-align: center;
  display: flex;
  color: var(--constructor-font-primary-color);
  background-color: var(--constructor-secondary-color);
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  border-radius: 10px;
  margin-bottom: 10px;
}
.item-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  height: 100px;
  background-color: var(--background-secondary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  padding: 5px;
}
.slot-wrapper span {
  font-size: 3rem;
  width: 100%;
  border-radius: 10px;
  line-height: 3rem;
  opacity: 0.8;
  transform: scale(0.9);
  transition: 0.2s ease;
}
.slot-wrapper:hover > span:hover {
  transform: scale(1.1);
}
.slot-wrapper h1,
.item-wrapper h1 {
  font-size: 2rem;
}
.slot-wrapper p {
  width: 100%;
  word-wrap: break-word;
}
.slot-wrapper-del {
  position: absolute;
  right: -5px;
  top: -8px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(167, 15, 15, 0.49);
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--font-secondary-color);
  text-align: center;
  transform: rotate(45deg);
  transition: 0.5s ease;
}
.slot-wrapper-del:hover {
  background-color: var(--accent-primary-color);
}
.expand-wrapper {
  display: flex;
  justify-content: center;
  transition: 0.4s ease;
}
.expand-slot-wrapper {
  position: relative;
  align-self: center;
  cursor: pointer;
  width: 25%;
  min-height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 30px;
  max-width: 100px;
  background-color: var(--constructor-accent-primary-color);
  color: var(--constructor-font-secondary-color);
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Itemlist-wrapper ul {
  margin: 10px;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  align-self: center;
  border: 1px solid var(--font-primary-color);
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  cursor: pointer;
}
.slot-thumb {
  width: 100%;
  border-radius: 5px;
}
.Constructor-progress {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--constructor-accent-primary-color);
}
.Constructor-progress > button {
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 400;
  padding: 0.8rem;
  border: none;
  color: var(--constructor-font-secondary-color);
  background-color: var(--constructor-accent-primary-color);
}
.svgicon {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
}
.Constructor-stage {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  transform: translate(-50%, -50%);
}
.empty {
  opacity: 0.5;
  cursor: default;
  filter: grayscale(70%);
}
.Constructor-stage p {
  align-self: center;
  white-space: pre;
  color: var(--constructor-font-secondary-color);
}
.Constructor-stage-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
}
.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-container form {
  align-self: center;
  width: 100%;
  margin-bottom: 10px;
}
input[type="range"] {
  width: 100%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background-color: var(--constructor-primary-color);
  outline: none;
  transition: background 1s ease-in;
}
input[type="range"]::-moz-range-track {
  background-color: var(--constructor-primary-color);
  transition: background 1s ease-in;
}
input[type="range"]::-webkit-slider-thumb {
  visibility: hidden;
}
input[type="range"]::-moz-range-thumb {
  visibility: hidden;
}
.item-container-letter {
  border: none;
  height: 50px;
  width: 100%;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: var(--constructor-font-primary-color);
  text-align: center;
  transition: 0.2s ease;
  transform: scale(0.9);
}
.item-container-letter:invalid {
  background-color: #fda7a7;
}
.item-container-letter:required {
  background-color: var(--constructor-secondary-color);
}
.item-container-letter:focus {
  transform: scale(1);
  outline: none;
}
.item-container-description {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--constructor-font-primary-color);
}
.item-container-info {
  position: relative;
  display: flex;
}
.item-container-info-gallery {
  overflow: hidden;
}
.item-container-info-details {
  width: 80%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  white-space: nowrap;
  padding: 1em;
}
.item-container-info-details-size {
  line-height: 1rem;
  font-size: 1rem;
}
.item-container-info-details-specs {
  line-height: 1rem;
  font-size: 1rem;
}
.item-container-info > img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
}
.item-container-quantity {
  align-self: flex-end;
  padding: 1em;
  line-height: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
.item-container-quantity p:first-child {
  font-size: 1.5rem;
  text-align: end;
  border: 0;
  padding: 0;
}
.item-container-quantity p:nth-child(2) {
  text-align: end;
  border: 0;
  padding: 0;
}
.item-container-title {
  padding: 1em;
}
.item-container-buttons {
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  outline: none;
  white-space: nowrap;
}
.item-container-buttons-quantity {
  position: absolute;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  height: 50px;
  background-color: var(--accent-primary-color);
}
.item-container-buttons button {
  align-self: center;
  outline: none;
  border: none;
  cursor: pointer;
  height: 100%;
  background-color: var(--accent-primary-color);
  color: var(--font-secondary-color);
  font-size: 1rem;
  overflow: hidden;
  min-width: 25px;
}
.item-container-buttons button:not(:last-child) {
  font-size: 2rem;
}
.item-container-buttons button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.item-container-buttons-control {
  position: relative;
  display: flex;
  width: 100%;
}
.item-container-buttons-back {
  width: 5%;
  padding-left: 10px;
  margin-right: auto;
}
.item-container-buttons-add {
  margin: 0 auto;
  width: 25%;
}
.item-container-buttons p {
  position: absolute;
  pointer-events: none;
  left: 50%;
  background-color: var(--accent-primary-color);
  color: var(--font-secondary-color);
  cursor: pointer;
  padding: 3px 8px;
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50px;
  font-weight: 300;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  width: 15%;
}
.chosen {
  z-index: 1;
  background-color: #f4dbc2;
  transform: scale(1.1);
  transition: 0.4s ease;
  cursor: grabbing;
}
.ghost {
  transform: scale(1.05);
}
.drag {
  border: 2px solid red;
  opacity: 0 !important;
}
.receipt {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 100%;
  margin: 10px 0;
  color: var(--font-secondary-color);
}
.receipt > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1rem;
  background-color: var(--constructor-accent-primary-color);
  color: var(--constructor-font-secondary-color);
}
.receipt > h2 {
  align-self: center;
  color: var(--constructor-accent-primary-color);
}
