*:focus {
  outline: none;
}
.Constructor {
  position: relative;
  display: flex;
  flex-direction: column;
}
.Constructor-toggle {
  position: absolute;
  text-align: center;
  width: 10%;
  right: 0px;
  padding: 0.5rem 0;
}
.Constructor-toggle p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}
