*:focus {
  outline: none;
}
.Constructor {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border-radius: 25px 0 0 25px;
  background-color: #8339040d; */
}
.Constructor-toggle {
  position: absolute;
  right: 0px;
  height: 50px;
  padding: 0.5rem 0;
}
.Constructor-toggle p {
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  background-color: rgb(255, 187, 150);
}
