.Featured-container {
  margin: 1rem 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.Featured-product {
  padding: 1rem;
  cursor: pointer;
}
.Featured-item {
  padding: 1rem;
  cursor: pointer;
}
