.Constructor-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.Constructor-wrapper select {
  border: none;
  background: transparent;
  width: 25%;
  align-self: center;
  font-size: 15px;
  letter-spacing: -0.08em;
}
.box-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  border-radius: 25px 0px 0px 10px;
  border-top: 1px dashed #83390447;
  border-left: 1px dashed #83390430;
}
.slot-wrapper {
  cursor: pointer;
  height: 80px;
  width: 120px;
  border: 1px solid #83390447;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s ease 0s 1 normal none running slideInLeft;
}
.Itemlist-wrapper ul {
  margin: 10px;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  align-self: center;
  border: 1px solid #763e2e;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  cursor: pointer;
}
.slot-thumb {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.box-overall {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.Constructor-progress {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 15px 10px 15px;
  justify-content: center;
  animation: 1s ease 0s 1 normal none running slideInLeft;
}
.svgicon {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
}
.empty {
  width: 30%;
  opacity: 0.5;
  cursor: default;
  filter: grayscale(70%);
  border-radius: 25px 0 0 25px;
  background: linear-gradient(
    89.97deg,
    #ffbb96 0.01%,
    rgba(255, 220, 201, 0) 99.99%
  );
}
.Constructor-stage {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 50px;
  border-radius: 25px 0 0 25px;
  background: linear-gradient(
    89.97deg,
    #ffbb964f 0.01%,
    rgba(255, 220, 201, 0) 99.99%
  );
}
.Constructor-stage img {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 10px;
  max-width: 30px;
  max-height: 30px;
}
.box-overall,
.Constructor-stage p {
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.08em;
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.item-container img {
  width: 100%;
  border-radius: 25px 2px 2px 2px;
}
.item-container button {
  border: 0.5px dashed #833904;
  box-sizing: border-box;
  font-size: 15px;
  width: 100%;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 5px;
  color: #7e4a24;
  height: 35px;
  padding: 5px;
  background-color: #f6e0cd;
  cursor: pointer;
}
.item-container label {
  align-self: flex-end;
  font-weight: bold;
  font-size: 2rem;
}
