*:focus {
  outline: none;
}
.Constructor-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.Constructor-wrapper select {
  border: none;
  background: transparent;
  width: 25%;
  align-self: center;
  font-size: 15px;
  letter-spacing: -0.08em;
}
.boxselector-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 25px 0px 0px 10px;
  border-top: 1px dashed #83390447;
  border-left: 1px dashed #83390430;
}
.box-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 25px 0px 0px 10px;
  border-top: 1px dashed #83390447;
  border-left: 1px dashed #83390430;
}
.box-wrapper section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.slot-wrapper {
  position: relative;
  cursor: pointer;
  border: 1px solid #8339043d;
  background-color: #f7f1ec;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease;
}
.slot-wrapper span {
  font-size: 50px;
  font-weight: bold;
  opacity: 0.9;
  text-shadow: 4px 2px 2px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
}
.slot-wrapper h1 {
  font-size: 40px;
  text-shadow: 4px 2px 2px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
}
.slot-wrapper p {
  width: 100%;
  word-wrap: break-word;
}
.slot-wrapper-del {
  position: absolute;
  right: -15px;
  top: -15px;
  height: 25px;
  width: 25px;
  background-color: #a70f0f7d;
  border-radius: 50%;
  font-size: 25px;
  color: white;
  line-height: 25px;
  text-align: center;
  transform: rotate(45deg);
}
.expand-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  transition: 0.4s ease;
}
.expand-slot-wrapper {
  position: relative;
  cursor: pointer;
  width: 10%;
  min-height: 70px;
  border: 1px solid #8339043d;
  background-color: #8339040d;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Itemlist-wrapper ul {
  margin: 10px;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  align-self: center;
  border: 1px solid #763e2e;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  cursor: pointer;
}
.slot-thumb {
  width: 100%;
  border-radius: 5px;
}
.Constructor-progress {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 0px 10px 0px;
  justify-content: center;
  animation: 1s ease 0s 1 normal none running slideInLeft;
}
.svgicon {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
}
.Constructor-stage {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  min-width: 30%;
  border-radius: 25px 0 0 25px;
  background: linear-gradient(
    89.97deg,
    #ffbb964f 0.01%,
    rgba(255, 220, 201, 0) 99.99%
  );
}
.Constructor-stage img {
  cursor: pointer;
  align-self: center;
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}
.empty {
  opacity: 0.5;
  margin-left: 10px;
  cursor: default;
  filter: grayscale(70%);
  border-radius: 25px 0 0 25px;
}
.box-overall,
.Constructor-stage p {
  align-self: center;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: -0.08em;
}
.box-overall {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  padding: 10px 10px 10px 0;
  background: linear-gradient(90.94deg, #ffdcc900 0.04%, #f6d8c847 99.97%);
}
.box-overall p {
  font-size: 15px;
}
.box-overall :last-child {
  font-size: 20px;
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  border-top: 2px solid #763e2e63;
  font-weight: bold;
}
.Constructor-stage-info {
  height: 50px;
  padding: 10px;
  font-size: 10px;
  width: 100%;
  white-space: nowrap;
}
.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-container form {
  align-self: center;
  width: 100%;
  margin: 10px;
}
.item-container input {
  border: 0.5px solid #83390446;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 25px 0 25px 0;
  height: 60px;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #3f1c03;
  background-color: #f4eae1;
  text-align: center;
  box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05),
    10px 10px 25px rgba(112, 124, 151, 0.05);
  text-shadow: 4px 2px 2px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
  transition: 0.5s ease;
}
.item-container input:focus {
  transform: scale(1.02);
  border: 0.5px solid #833904;
  box-shadow: -2px 3px 20px 0px rgba(0, 0, 0, 0.08),
    -4px 3px 20px 4px rgba(255, 87, 34, 0.12);
}
.item-container p {
  padding-bottom: 10px;
  border-bottom: 2px solid #83390447;
}
.item-container img {
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 8px 17px 15px -16px rgba(129, 52, 11, 0.67);
}

.item-container-quantity {
  align-self: flex-end;
  margin-top: 25px;
  font-weight: bold;
  font-size: 2rem;
}
.item-container-quantity p:first-child {
  font-size: 1.5rem;
  text-align: end;
  border: 0;
  padding: 0;
}
.item-container-quantity p:nth-child(2) {
  text-align: end;
  border: 0;
  padding: 0;
}
.item-container h1 {
  margin: 15px 0 15px 0;
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: linear-gradient(
    89.97deg,
    #ffbb964f 0.01%,
    rgba(255, 220, 201, 0) 99.99%
  );
  height: 50px;
  border-radius: 20px 5px 0 0;
  transition: 1s;
  outline: none;
  white-space: nowrap;
}
.buttons-remove {
  font-size: 1rem !important;
  font-weight: normal !important;
}
.buttons :active {
  transform: scale(1.1);
  outline: none;
}
.buttons :first-child {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: #5b2600;
  cursor: pointer;
  border-right: 1px dashed #83390426;
}
.buttons :nth-child(1n + 2):not(p) {
  width: 50%;
  color: #5b2600cf;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background: transparent;
}
.buttons :last-child {
  border-radius: 0px 20px 0px 0px;
}
.buttons p {
  color: #5b2600d6;
  width: 10%;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: transparent;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  width: 15%;
}
.test {
  width: 80px;
  height: 80px;
  background: hotpink;
  border-radius: 16px;
}
.compose {
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: normal;
  border-radius: 10px;
  color: #5b2600;
  margin-bottom: 15px;
  background-color: #ffffff8a;
  cursor: pointer;
  width: 90%;
  height: 55px;
  box-shadow: 8px 8px 15px -16px rgba(0, 0, 0, 0.75);
  text-shadow: 1px -1px 0px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
  transition: 0.2s ease;
}
.compose-nav {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin-bottom: 15px;
  justify-content: center;
}
.compose-nav button {
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: normal;
  color: #5b2600;
  background-color: #ffffff8a;
  cursor: pointer;
  height: 55px;
  box-shadow: 8px 8px 15px -16px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease;
  text-shadow: 1px -1px 0px rgba(118, 62, 46, 0.32),
    0px 0px 0px rgba(46, 11, 1, 0.71);
}
.compose-nav button:nth-of-type(n) {
  width: 80%;
  border-radius: 2px 10px 10px 2px;
}
.backward {
  width: 20%;
  border-radius: 10px 2px 2px 10px;
  background-color: #ffffff75;
}
.chosen {
  z-index: 1;
  box-shadow: 5px 12px 50px 7px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
}
.ghost {
  border: 2px solid #f6d8c8a6;
  box-shadow: 5px 12px 50px 7px rgba(0, 0, 0, 0.41);
  transform: scale(1.1);
}
.drag {
  visibility: hidden;
}
.compose-offline {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 95%;
  align-self: center;
  border-radius: 2px 10px 10px 2px;
  border-top: 1px dashed #8339046b;
  border-right: 1px dashed #8339046b;
  border-bottom: 1px dashed #8339046b;
}
.compose-offline p {
  font-size: 1vw;
  font-weight: bold;
  margin: 0 10px 0 10px;
}
