.header {
}
.logo {
  font-family: Notoitalic;
  font-size: 5rem;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 0 auto;
}
