.header {
  position: fixed;
  z-index: 10000;
  width: 85%;
  height: 71px;
  background: #f9f3ee;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.header-logo {
  z-index: 10000;
}
.svgfilter {
  fill: #833904;
  animation: letter-animation 1.5s linear forwards;
}
.top-menu-label {
  max-width: 95%;
  position: absolute;
  top: 70px;
}

@keyframes letter-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }
  75% {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  }
  100% {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
