.header {
  position: fixed;
  top: 0;
  background: linear-gradient(269.94deg, #f9f3ee -5.08%, #f2ebe4 89.21%);
  height: 31px;
  width: 85%;
  z-index: 10000;
}
.header-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.headerbg {
  background: linear-gradient(269.94deg, #f9f3ee -5.08%, #f2ebe4 89.21%);
  width: 100%;
  height: 65px;
}
.header-title {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  width: 260px;
  z-index: 10000;
}
.header-svg {
  position: absolute;
  top: 30px;
}
