.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0 5px;
  z-index: 10000;
}
.header-title {
  align-self: center;
  cursor: pointer;
  transform: scale(0.8);
}
