*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: Noto;
  src: url('../fonts/NotoSerif-Regular.ttf');
}
@font-face {
  font-family: Notobold;
  src: url('../fonts/NotoSerif-Bold.ttf');
}
@font-face {
  font-family: Notoitalic;
  src: url('../fonts/NotoSerif-RegularItalic.ttf');
}
html,
body {
  font-family: Noto;
  height: 100%;
  background-image: linear-gradient(
    75deg,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
}
