.gallery-container {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.gallery-container > img {
  padding: 0 0 2px 2px;
}
.fullscreen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.fullscreen > img {
  cursor: zoom-out;
  object-fit: cover;
  width: 70%;
}
