.gallery-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}
.single-img {
  width: 100%;
  height: 100%;
}
.single-img img {
  vertical-align: middle;
  cursor: zoom-in;
  width: 100%;
}
.multi-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.multi-img img {
  padding: 1px;
}
.multi-img :first-child {
  cursor: zoom-in;
  width: 100%;
}
.multi-img :nth-child(n + 2) {
  width: 50%;
}
.promo {
  display: flex;
  justify-content: center;
}
.promo > img {
  vertical-align: middle;
  cursor: zoom-in;
  margin: 0 5px 25px 0;
  box-shadow: 6px 4px 22px rgba(0, 0, 0, 0.14);
}
.fullscreen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.fullscreenpromo {
  display: flex;
  justify-content: center;
  width: 70%;
}
.fullscreenpromo > img {
  cursor: zoom-out;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 6px 4px 22px rgba(0, 0, 0, 0.14);
}
.fullscreen > img {
  cursor: zoom-out;
  object-fit: cover;
  width: 70%;
}
