@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSerif-Regular.ttf");
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  font-family: Noto;
  scroll-behavior: smooth;
  background: #f4eae1;
  background-image: url(../img/splash.svg);
  height: 100%;
  margin-bottom: 1px;
  color: #763e2e;
}
.wrapper {
  max-width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0px 8px 35px -28px rgb(98, 41, 10);
  background: linear-gradient(
    90deg,
    #f2ebe4d1 0.03%,
    #f9f3ee82 50%,
    #f3ebe594 99.96%
  );
}
.arrow {
  border: solid #7f330bb5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}
.left {
  transform: rotate(135deg);
}
.down {
  transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
}
@media (max-width: 1320px) {
  .header-title {
    width: 190px;
  }
  .Banner-wrapper {
    padding: 75px 25px 0px 25px;
  }
  .Banner-wrapper > img {
    max-width: 25vw;
  }
  .cart-list-wrapper {
    position: absolute;
    top: 0;
    right: 7.5%;
    width: 85%;
    background-color: #ffffffb5;
  }
  .product-page-nav a {
    text-align: start;
  }
  .ProductList-wrapper {
    flex-flow: column wrap;
  }
  .boxselector-slot {
    width: 25%;
  }
  .auth-page-container {
    top: 0;
  }
  .auth-page-wrapper {
    margin: 50px 0 0 0;
  }
  .auth {
    top: 5px;
    width: 40px;
    height: 40px;
  }
  .cart {
    top: 5px;
    width: 40px;
    height: 40px;
  }
  .Constructor-wrapper {
    padding-top: 0px;
  }
  .Constructor-stage-info {
    padding: 15px 10px 10px 0;
  }
}
@media (min-width: 2100px) {
  .header {
    height: 0;
  }
  .header-svg {
    top: 0;
  }
  .header-title {
    top: 15px;
    width: 290px;
  }
}
@media (max-width: 800px) {
  body {
    background-image: none;
  }
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  .header {
    border-radius: 0 0 5px 5px;
    background: #f2ebe4;
    width: 100%;
    height: 50px;
    box-shadow: -12px 7px 17px -16px rgba(8, 8, 8, 0.43);
  }
  .header-title {
    top: 5px;
    width: 160px;
  }
  .header-svg {
    display: none;
  }
  .logo-path {
    margin-top: 0;
  }
  .svgfilter {
    height: 60px;
    margin-top: 10px;
  }
  .auth {
    transform: scale(0.8);
    left: 5px;
  }
  .cart {
    transform: scale(0.8);
    right: 5px;
  }
  .cart-list-wrapper {
    width: 100%;
    left: 0;
  }
  .Promo-container {
    border-radius: 0 0 5px 5px;
  }
  .Promo-button {
    display: none;
  }
  .Promo-button:nth-child(2) {
    display: block;
  }
  .Promo-banner {
    padding-top: 50px;
    width: 100%;
  }
  #root > div > div > img {
    display: none;
  }
  .Banner-wrapper {
    padding: 65px 25px 0px 25px;
  }
  .Banner-wrapper > img {
    max-width: 40vw;
  }
  .Banner-text {
    padding-top: 70px;
    margin: 0;
    width: 100%;
    border: none;
    background: none;
  }
  .Promo-content {
    padding: 0px 0px 25px 0px;
  }
  .Promo-img {
    max-width: 140vw;
    width: unset;
  }
  .Promo-next {
    position: absolute;
    right: 0;
  }
  .Promo-prev {
    position: absolute;
    left: 0;
  }
  .Promo-expand {
    display: none;
  }
  .product-page-left {
    width: 85%;
    margin: 0 auto;
    border-radius: 15px;
  }
  .product-page-right {
    width: 100%;
  }
  .product-page-right h1 {
    padding: 30px 0 0 0;
    margin: 0 auto;
  }
  .item-container-info-details-specs,
  .item-container-info-details-size {
    font-size: 0.5rem;
  }
  .ProductList-bundles-sort {
    margin: 0;
  }
  .Constructor-progress {
    padding: 10px 0px 10px 0px;
  }
  .compose-offline p {
    font-size: 2vw;
  }
  .slot-wrapper span {
    font-size: 35px;
  }
  .ProductList-topsvg {
    display: none;
  }
  .ProductList-bundles-pagination {
    padding: 15px;
  }
  .ProductCard-wrapper {
    margin: 0;
    border-radius: 2px;
    width: 25%;
    height: 100px;
  }
  .ProductCard-wrapper img {
    border-radius: 2px;
  }
  .ProductCard-placeholder {
    min-height: 150px;
  }
  .ProductCard-price {
    transform: scale(0.8);
    top: -3px;
    left: -4px;
    opacity: 0.9;
  }
  .ProductCard-addbutton {
    transform: scale(0.8);
    bottom: -3px;
    right: -7px;
    opacity: 0.9;
  }
  .boxselector-wrapper {
    flex-flow: column wrap;
    padding-top: 20px;
  }
  .boxselector-slot {
    width: 80%;
  }
  .fullscreen > img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header-title {
    top: 5px;
    width: 145px;
  }
  .cart {
    transform: scale(0.7);
    right: 0;
    top: 0;
  }
  .auth {
    transform: scale(0.7);
    left: 0;
    top: 0;
  }
  .ProductCard-wrapper {
    height: 90px;
  }
}
