*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --background-primary-color: #fff;
  --background-secondary-color: #fceade;

  --block-primary-color: #f3e2d2;
  --block-secondary-color: #f2ebe4;

  --accent-primary-color: #ea526f;
  --accent-secondary-color: #ffa7b7;

  --font-primary-color: #763e2e;
  --font-secondary-color: #fff;

  --error-primary: #f36464;
}
html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--font-primary-color);
  background-color: var(--background-primary-color);
}

.arrow {
  border: solid var(--accent-primary-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}
.left {
  transform: rotate(135deg);
}
.down {
  transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
}
.center {
  margin: 0 auto;
}
.w85 {
  width: 85%;
  margin: 0 auto;
}
.w90 {
  width: 90%;
}
@media (max-width: 1320px) {
  .w85,
  .w90 {
    width: 100%;
  }
  .Constructor-toggle {
    width: 100%;
    position: unset;
  }
  .cart-list-wrapper {
    position: absolute;
    top: 0;
    right: 7.5%;
    width: 85%;
    background-color: #ffffffb5;
  }
  .product-page-nav a {
    text-align: start;
  }
  .ProductList-wrapper {
    flex-flow: column wrap;
  }
  .item-wrapper {
    max-height: 70px;
  }
  .auth-page-container {
    left: 0;
  }
  .ProductList-bundles {
    min-height: 0;
  }
  .fullscreenpromo {
    width: 100%;
  }
  .promo > img {
    width: 30%;
  }
  .StaticInfo-container {
    flex-flow: column wrap;
  }
  .StaticInfo-card {
    width: 100%;
  }
  .Constructor-wrapper {
    padding-top: 0px;
  }
}
@media (max-width: 800px) {
  .header-title {
    transform: scale(0.6);
  }
  .auth {
    width: 40px;
    height: 40px;
  }
  .cart svg {
    width: 40px;
  }
  .cart-list-wrapper {
    width: 100%;
    left: 0;
  }
  .Promo-container {
    border-radius: 0 0 5px 5px;
  }
  .Promo-button {
    display: none;
  }
  .Promo-button:nth-child(2) {
    display: block;
  }
  .Promo-banner {
    padding-top: 50px;
    width: 100%;
  }
  .Banner-text > img {
    max-width: 40vw;
  }
  .Banner-text {
    font-size: 0.9rem;
    margin: 0;
    width: 100%;
    border: none;
    background: none;
    padding: 0;
  }
  .Banner-text p,
  .Banner-text h2 {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }
  .Promo-img {
    max-width: 140vw;
    width: unset;
  }
  .Promo-next {
    position: absolute;
    right: 0;
  }
  .Promo-prev {
    position: absolute;
    left: 0;
  }
  .Promo-expand {
    display: none;
  }
  .product-page-left {
    width: 100%;
  }
  .product-page-right {
    width: 100%;
    padding: 1em;
  }
  .product-page-right h1 {
    padding-top: 1rem;
    margin: 0 auto;
  }
  .item-container-info-details-specs,
  .item-container-info-details-size {
    font-size: 0.5rem;
    border: none;
  }
  .item-container-info {
    flex-flow: column wrap;
  }
  .item-container-info-gallery {
    width: 100%;
  }
  .item-container-info-details {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  .ProductList-bundles-sort {
    margin: 0;
  }
  .compose-offline p {
    font-size: 2vw;
  }
  .slot-wrapper span {
    font-size: 35px;
  }
  .boxselector-wrapper {
    flex-flow: column wrap;
    margin: 0 auto;
    border: none;
    border-radius: none;
  }
  .ProductList-topsvg {
    display: none;
  }
  .ProductCard-wrapper {
    margin: 0;
    border-radius: 2px;
  }
  .ProductCard-wrapper img {
    border-radius: 2px;
  }
  .ProductCard-placeholder {
    min-height: 150px;
  }
  .ProductCard-price {
    transform: scale(0.8);
    top: -3px;
    left: -4px;
    opacity: 0.9;
  }
  .ProductCard-addbutton {
    transform: scale(0.8);
    bottom: -3px;
    right: -7px;
    opacity: 0.9;
  }
  .fullscreen > img {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
