@font-face {
  font-family: Noto;
  src: url("../resources/fonts/NotoSerif-Regular.ttf");
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  font-family: Noto;
  background: #f4eae1;
  background-image: url(../resources/img/splash.svg);
  color: #763e2e;
}
.app {
  width: 85%;
  margin: 0 auto;
  background-color: #8339040d;
}
.arrow {
  border: solid #7f330bb5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}
.left {
  transform: rotate(135deg);
}
.down {
  transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
}
.main-bg {
  background-color: #f2ebe4;
}
.side-bg {
  background-color: #ffd8c2;
}
@media (max-width: 1320px) {
  .Constructor-toggle {
    width: 100%;
    position: unset;
  }
  .Banner-wrapper > img {
    max-width: 25vw;
  }
  .cart-list-wrapper {
    position: absolute;
    top: 0;
    right: 7.5%;
    width: 85%;
    background-color: #ffffffb5;
  }
  .product-page-nav a {
    text-align: start;
  }
  .ProductList-wrapper {
    flex-flow: column wrap;
  }
  .item-wrapper {
    max-height: 70px;
  }
  .auth-page-container {
    top: 0;
  }
  .auth-page-wrapper {
    margin: 50px 0 0 0;
  }
  .ProductList-bundles {
    min-height: 0;
  }
  .fullscreenpromo {
    width: 100%;
  }
  .promo > img {
    width: 30%;
  }
  .StaticInfo-container {
    flex-flow: column wrap;
  }
  .StaticInfo-card {
    width: 100%;
  }
  .Constructor-wrapper {
    padding-top: 0px;
  }
}
@media (max-width: 800px) {
  .app {
    width: 100%;
  }
  body {
    background-image: none;
  }
  .header {
    box-shadow: -12px 7px 17px -16px rgba(8, 8, 8, 0.43);
  }
  .cart-list-wrapper {
    width: 100%;
    left: 0;
  }
  .Promo-container {
    border-radius: 0 0 5px 5px;
  }
  .Promo-button {
    display: none;
  }
  .Promo-button:nth-child(2) {
    display: block;
  }
  .Promo-banner {
    padding-top: 50px;
    width: 100%;
  }
  .Banner-wrapper > img {
    max-width: 40vw;
  }
  .Banner-text {
    font-size: 0.9rem;
    margin: 0;
    width: 100%;
    border: none;
    background: none;
  }
  .Banner-wrapper p {
    width: 100%;
  }
  .Promo-img {
    max-width: 140vw;
    width: unset;
  }
  .Promo-next {
    position: absolute;
    right: 0;
  }
  .Promo-prev {
    position: absolute;
    left: 0;
  }
  .Promo-expand {
    display: none;
  }
  .product-page-left {
    width: 100%;
  }
  .product-page-right {
    width: 100%;
    padding: 1em;
  }
  .product-page-right h1 {
    padding-top: 1rem;
    margin: 0 auto;
  }
  .item-container-info-details-specs,
  .item-container-info-details-size {
    font-size: 0.5rem;
  }
  .item-container-info {
    flex-flow: column wrap;
  }
  .item-container-info-gallery {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .item-container-info-details {
    border-top: none;
    border-bottom: 2px solid #8339041a;
    border-right: 2px solid #8339041a;
    border-left: 2px solid #8339041a;
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .ProductList-bundles-sort {
    margin: 0;
  }
  .compose-offline p {
    font-size: 2vw;
  }
  .slot-wrapper span {
    font-size: 35px;
  }
  .boxselector-wrapper {
    flex-flow: column wrap;
    margin: 0 auto;
    border: none;
    border-radius: none;
  }
  .ProductList-topsvg {
    display: none;
  }
  .ProductCard-wrapper {
    margin: 0;
    border-radius: 2px;
  }
  .ProductCard-wrapper img {
    border-radius: 2px;
  }
  .ProductCard-placeholder {
    min-height: 150px;
  }
  .ProductCard-price {
    transform: scale(0.8);
    top: -3px;
    left: -4px;
    opacity: 0.9;
  }
  .ItemCard-price {
    right: -12px;
    top: -28px;
    transform: rotate(-45deg) scale(0.8);
  }
  .ProductCard-addbutton {
    transform: scale(0.8);
    bottom: -3px;
    right: -7px;
    opacity: 0.9;
  }
  .fullscreen > img {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
