.footer {
  position: relative;
  height: 30px;
  width: 100%;
  background: linear-gradient(90.13deg, #ffdcc9 0.04%, #ffbb96 99.97%);
}
.footer-border {
  transform: scaleY(-1);
  position: absolute;
  width: 100%;
  bottom: 29px;
  left: 0;
}
