.footer {
  position: static;
  bottom: 0;
  height: 30px;
  display: flex;
  justify-content: center;
}
.footer p {
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: -0.04em;
}
.footer-border {
  transform: scaleY(-1);
  position: absolute;
  width: 100%;
  bottom: 29px;
  left: 0;
}
