.auth-page-container {
  background-color: #ffc2a859;
  border-radius: 0px 0px 15px 15px;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.auth-page-wrapper {
  margin: 120px 0 20px 0;
  display: flex;
  justify-content: space-around;
}
