.auth-page-container {
  position: fixed;
  top: 0;
  left: 5%;
  border-radius: 0px 0px 15px 15px;
  padding: 4em 1em 1em 1em;
  color: #ad7247;
  background-color: #fbf1ec;
  z-index: 9999;
  animation: 0.3s slide;
}
.auth-page {
  font-size: 1em;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: -0.06em;
}
.auth-active {
  text-decoration-style: solid;
  font-size: 1.6em;
  transition: 0.2s;
  cursor: auto;
}
.auth-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
