.auth-page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.auth-page-login input {
  border: 0.5px dashed #833904;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 25px;
  padding: 5px;
  background-color: #f4eae1;
  text-align: center;
}
.auth-page-login button {
  border: 0.5px dashed #833904;
  box-sizing: border-box;
  font-size: 15px;
  width: 100%;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 5px;
  color: #7e4a24;
  height: 35px;
  padding: 5px;
  background-color: #f6e0cd;
  cursor: pointer;
}
.auth-page-login button:hover {
  background-color: #f3cdac;
}
.auth-page-vk {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: url(../../img/vk.svg);
  background-repeat: no-repeat;
  margin-top: 5%;
}
.auth-page-login-400 {
  position: absolute;
  top: 45px;
  border: 0.5px solid #833904;
  border-radius: 5px;
  background-color: #f4eae1;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 150px;
  color: #a82323;
}
