.auth-page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.auth-page-vk {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: url(../../resources/img/vk.svg);
  background-repeat: no-repeat;
}
.auth-page-fb {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: url(../../resources/img/fb.svg);
  background-repeat: no-repeat;
}
.auth-page-login-400 {
  position: absolute;
  top: 45px;
  border: 0.5px solid #833904;
  border-radius: 5px;
  background-color: #f4eae1;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 150px;
  color: #a82323;
}
